* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.landing-page-container {
    background-image: url('/images/img_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px;
    position: relative;
}


.video {
    width: 100%;
    position: absolute;
    top: 0px;
}

#product-content {
    background-image: url('/images/img_1.jpg');
}

.landing-page-container::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.39);
    width: 100%;
    height: 100%;
    position: absolute;
}
#back-video::before {
    content: '';
    background-color: rgba(255, 255, 255, 0.39);
    width: 100%;
    height: 100%;
    position: absolute;
}
.header-link-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}
.logo-img {
    font-size: 25px;
    text-transform: capitalize;
    color: #eee;
    font-family: open sans,sans-serif;
    cursor: pointer;
    z-index: 10;
}
.link-container {
    z-index: 10;
}
.link-container ul {
    list-style: none;
}
.link-container ul li {
    display: inline-block;
    font-size: 27px;
    margin-left: 50px;
    text-transform: capitalize;
}
.link-container ul li a {
    text-decoration: none;
    color: #eee;
    transition: 0.3s;
}
.link-container ul li a:focus {
    color: #fff;
}
.link-container ul li a:hover {
    color: #89D9D0;
    animation: move_bottom-border 2s ease infinite;
    animation-delay: 0.2s;
}

@keyframes move_bottom-border {
    from {
        border-bottom: 5px solid #65ccc0;
    }
}

.sub-menu-sm {
    display: flex;
    justify-content: space-evenly;
    z-index: 20000;
    display: none;
}
#logo-img-ed {
    position: relative;
    left: -15em;
}
.navicon {
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-right: 5em;
    z-index: 20;
    position: relative;
    width: fit-content;
    float: right;
}
.navicon i:hover {
    cursor: pointer;
}
.navicon:hover #link-ed{
    display: inline-block;
    animation: move_link-ed 0.3s ease forwards;
}

@keyframes move_link-ed {
    0% {
        margin-right: -100px;
    }
    100% {
        margin-right: 7em;
    }
}

#link-ed {
    margin-right: 7em;
    position: absolute;
    display: none;
}
#link-ed ul {
    position: absolute;
    background-color: #333;
    top: 20px;
    padding: 30px 20px;
    display: inline-block;
    z-index: 20;
}
#link-ed ul li {
    margin-top: 10px;
    text-align: center;
}

.contact-text-container {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 15%;
}
.contact {
    text-transform: capitalize;
    font-size: 60px;
    color: white;
    z-index: 10;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media (max-width: 800px) {
    .contact-text-container {
        margin-top: 10%;
    }
}
@media (max-width: 700px) {
    .contact-text-container {
        margin-top: 5%;
    }
    #back-video::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: white;
    }
}

.contact-text {
    font-size: 23px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 18px;
    padding: 0px 20px;
    z-index: 10;
}

.get-watch-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    position: relative;
    z-index: 10;
}
.get-app {
    margin-left: 30px;
}
.get-app a {
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px 20px;
    text-decoration: none;
    background-color: #89D9D0;
    transition: 0.3s;
    margin-right: 40px;
    border-radius: 10px;
}
.get-app a:hover {
    cursor: pointer;
    background-color: #65ccc0;
}
.watch-video {
    margin-right: 30px;
}
.watch-video a {
    color: white;
    font-size: 27px;
    text-transform: uppercase;
    text-decoration: none;
}

.icon-down i {
    font-size: 40px;
    color: white;
    z-index: 10;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 13%;
    cursor: pointer;
    padding-bottom: 20px;
} 
.icon-down a {
    text-decoration: none;
}

@media (max-width: 664px) {
    .get-watch-container {
        display: flex;
        flex-wrap: wrap;
    }
}
@media (max-width: 537px) {
    .watch-video {
        margin-top: 20px;
    }
}
@media (max-width: 900px) {
    .sub-menu-sm {
        display: inline-block;
        display: flex;
        justify-content: flex-end;
        padding-top: 50px;
    }
    .header-link-container {
        display: none;
    }
}




.message-area-container {
    width: 100%;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 150px 0px;
}
.message-container1 {
    width: 45em;
    background-color: white;
    position: relative;
    padding: 50px 40px;
    margin: 0px 20px;
}
.name-container {
    display: flex;
}
.name-text {
    margin-bottom: 10px;
    text-transform: uppercase;
    color: rgb(141, 141, 141);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.last-name-container {
    margin-left: 50px;
}
.name-text.ed {
    margin-top: 15px;
}
.name input {
    width: 22em;
    padding: 10px 7px;
    border-radius: 5px;
    border: 2px solid rgb(204, 204, 204);
}
.name input:focus {
    border: 2px solid #65ccc0;
    outline: none;
    color: #65ccc0;
}
.email input {
    width: 100%;
    border-radius: 5px;
    padding: 12px 7px;
    font-size: 17px;
    border: 2px solid rgb(204, 204, 204);
}
.email input:focus {
    border: 2px solid #65ccc0;
    color: #65ccc0;
    outline: none;
}
.message textarea {
    width: 100%;
    border-radius: 5px;
    padding: 18px;
    border: 2px solid rgb(204, 204, 204);
    margin-bottom: 30px;
}
.message textarea:focus {
    outline: none;
    border: 2px solid #65ccc0;
}
.get-app.ed p a {
    margin-left: -30px;
    font-size: 18px;
}

.text {
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
    color: white;
}
.number-container {
    background-color: #65ccc0;
    padding: 100px 0px;
}


.message-container2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: -5em;
    margin: 0px 20px;
}
.text-message {
    text-transform: uppercase;
    color: #65ccc0;
    margin-bottom: 10px;
}
.text-content {
    font-size: 22px;
    color: rgb(141, 141, 141);
}
.text-content.ed {
    line-height: 40px;
}
.infor {
    margin-bottom: 40px;
}
@media (max-width: 1078px) {
    .message-container2 {
        margin-top: 50px;
    }
}


.footer-container {
    margin-top: 200px;
}
.center-footer-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.quick-link-container {
    line-height: 40px;
}
.quick {
    text-transform: uppercase;
    font-size: 22px;
    color: rgb(141, 141, 141);
    font-family: monospace;
    margin-bottom: 10px;
}
.quick-link a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 22px;
    color: #65ccc0;
    display: block;
    transition: 0.3s;
}
.quick-link a:hover {
    cursor: pointer;
    color: #949494;
    text-decoration: underline;
}
.quick-link-container.ed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quick-link-container.ed i span {
    transition: 0.3s;
    display: none;
}
.quick-link-container.ed i:hover span {
    display: inline-block;
    color: #65ccc0;
}

.footer-conclude-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 70px;
    text-align: center;
}
.footer-copyright {
    font-size: 22px;
    text-transform: capitalize;
    color: rgb(141, 141, 141);
    margin-bottom: 10px;
}
.footer-text {
    font-size: 17px;
    color: rgb(141, 141, 141);
    margin-bottom: 20px;
}
.footer-text span {
    color: #65ccc0;
}
.footer-text a {
    color: #65ccc0;
    text-decoration: none;
}
.demo {
    font-size: 20px;
    text-transform: capitalize;
    color: rgb(141, 141, 141);
    margin-bottom: 20px;
}
.demo a {
    text-decoration: none;
}
.demo span {
    color: #65ccc0;
}


/* service content */
#service-home {
    background-image: url('/images/img_3.jpg');
}
.service {
    background-color: #ECECEC;
    padding: 150px 0px;
}
.service-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.service-group.ed {
    margin-top: 100px;
}
.service-container {
    width: 400px;
    padding: 40px;
    transition: 0.3s;
    margin: 15px 20px;
    position: relative;
}
.service-container:hover {
    background-color: #fff;
}
.service-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service-logo {
    font-size: 50px;
    color: #5c5c5c;
    margin-bottom: 25px;
}
.service-header {
    text-transform: capitalize;
    color: #868e96;
    font-size: 25px;
    margin: 10px 0px;
}
.service-text {
    font-size: 20px;
    color: #afafaf;
    text-align: center;
    line-height: 35px;
}
.service-btn {
    margin-top: 30px;
}
.service-btn a {
    text-transform: capitalize;
    text-decoration: none;
    color: #65ccc0;
    font-size: 19px;
}



/* product content */
.product-container {
    background-color: rgb(245, 245, 245);
    padding: 100px 20px;
    margin-top: 0px;
}
.product-text {
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 50px;
}
.product-text em {
    font-size: 18px;
}
.product-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.product-card-container.ed {
    margin-top: 50px;
}
.product-container {
    width: 100%;
}
.container {
    width: 350px;
    height: 500px;
    perspective: 700px;
    margin-top: 30px;
}
.container:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg);
}
.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: 2s;
    transform-style: preserve-3d;
}
.front,
.back {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    backface-visibility: hidden;
}
.front {
    text-transform: uppercase;
    font-size: 25px;
    background-image: url('/images/17.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px;
}
.front.front2 {
    background-image: url('/images/16.png');
}
.front.front3 {
    background-image: url('/images/3.png');
}
.front.front4 {
    background-image: url('/images/4.png');
}
.front::before {
    content: 'check product price';
    width: 100%;
    height: 100%;
    background-color: #89d9d0d0;
    position: absolute;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back {
    font-size: 25px;
    text-transform: capitalize;
    line-height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #65ccc0;
    color: white;
    transform: rotateY(180deg);
}
.back span {
    text-transform: lowercase;
}
.back .drop-down {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

.map-container {
    margin-top: 200px;
}
.image {
    width: 100%;
}
.map-text {
    text-transform: uppercase;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 5px;
}

.contact.ed {
    font-size: 6em;
    text-transform: capitalize;
}


/* home page css */
.features-container {
    margin-top: 40em;
}
.feature-content-container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.feature-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    margin-left: 25px;
}
.header-text {
    text-transform: capitalize;
    color: #5c5c5c;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: -400px;
}
.header-text2 {
    text-transform: capitalize;
    color: #5c5c5c;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: -300px;
}

@media (max-width: 1501px) {
    .header-text2 {
        margin-top: -200px;
    }
}
@media (max-width: 1090px) {
    .header-text2 {
        margin-top: -100px;
    }
}
@media (max-width: 962px) {
    .header-text2 {
        margin-top: 100px;
    }
}
@media (max-width: 670px) {
    .header-text2 {
        margin-top: 400px;
    }
}

.image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    left: 25%;
}
.feature-text1 {
    text-transform: capitalize;
    color: #949494;
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
}
.feature-text2 {
    font-size: 20px;
    color: #afafaf;
    margin-top: 10px;
    line-height: 28px;
    text-align: center;
}
.icon i {
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #65ccc0;
    transition: 0.3s;
    margin-top: 20px;
}
.feature-content:hover .icon i {
    cursor: pointer;
    background-color: #65ccc0;
    color: white;
}

@media (max-width: 1338px) {
    .feature-text2 {
        font-size: 17px;
    }
    .feature-text1 {
        font-size: 20px;
    }
}
@media (max-width: 1336px) {
    .feature-content-container {
        display: flex;
        flex-wrap: wrap;
    }
}


.about-container {
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: 10em;
}
.about-container.ed {
    margin-top: -420px;
}
.about {
    display: flex;
}
.about-image {
    background-image: url('/images/img_2.jpg');
    width: 50%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px;
}
.about-image.ed {
    background-image: url('/images/img_3.jpg');
    display: flex;
    order: 10;
}
.about-text {
    width: 50%;
    background-color: #ececec;
    padding: 126px 80px;
    height: fit-content;
}
.about-header {
    text-transform: capitalize;
    font-size: 40px;
    font-family: "Montserrat", Arial, sans-serif;
    color: #212529;
    margin-bottom: 20px;
    text-align: center;
}
.about-text1 {
    color: #868e96;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 35px;
}
.about-text1.ed {
    margin-bottom: 30px;
}
.about-text .get-app {
    margin-left: 0;
}
.about-text .get-app a {
    font-size: 15px;
}
.none {
    display: none;
}

@media (max-width: 1540px) {
    .about-image {
        height: 630px;
    }
}
@media (max-width: 1502px) {
    .about-image {
        height: 670px;
    }
}
@media (max-width: 1223px) {
    .about-image {
        height: 700px;
    }
}
@media (max-width: 1190px) {
    .about-image {
        height: 740px;
    }
}
@media (max-width: 1196px) {
    .about-image {
        height: 740px;
    }
}
@media (max-width: 1171px) {
    .about-image {
        height: 770px;
    }
}
@media (max-width: 1039px) {
    .about-image {
        height: 810px;
    }
}

@media (max-width: 964px) {
    .about {
        display: none;
    }
    .none {
        display: inline-block;
    }
    .none .about-image {
        width: 100%;
    }
    .none .about-text {
        width: 100%;
    }
    .about-container.ed {
        margin-top: 300px;
    }
}


.testimonial-container {
    margin-top: -200px;
}
.people-testmo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
}
.people-testmo {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
}
.testmo-text1 {
    font-size: 23px;
    color: #5c5c5c;
    text-align: center;
    line-height: 35px;
    margin-top: 10px;
}
.testmo-icon i {
    font-size: 30px;
    margin-bottom: 30px;
}
.text-testimo {
    font-size: 20px;
    color: #5c5c5c;
    text-align: center;
    line-height: 30px;
}
.people-testmo img {
    margin-top: 50px;
    position: relative;
    left: 30%;
}
.name {
    font-size: 22px;
    text-transform: capitalize;
    color: #333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    line-height: 40px;
}
.at-name {
    color: #afafaf;
}

@media (max-width: 1082px) {
    .testimonial-container {
        margin-top: -100px;
    }
}
@media (max-width: 964px) {
    .testimonial-container {
        margin-top: 500px;
    }
}

.horizontal-line {
    border: 1px solid #ececec;
    margin: 150px 0px;
}



/* about content css */
#about-home {
    background-image: url('/images/img\ 5.jpg');
}
.about-us-container {
    display: flex;
}
.about-us-container.ed {
    display: block;
    display: none;
}
.about-us-img {
    width: 50%;
}
.about-us-img .img {
    width: 100%;
}

.about-us-img.ed {
    width: 100%;
}
#img-specific {
    display: flex;
    width: 50%;
    order: 10;
}

.about-us-content-container {
    width: 50%;
    background-color: #ECECEC;
    padding: 80px;
    position: relative;
}

.about-us-content-container.ed {
    width: 100%;
}

.header-text {
    font-size: 50px;
    text-transform: capitalize;
    color: #000000;
    position: relative;
    top: 8em;
}
.text {
    position: relative;
    top: 20em;
    font-size: 22px;
    color: #333;
}
.text.ed {
    margin-top: 30px;
}
.get-app.ed {
    position: relative;
    top: 30em;
}

@media (max-width: 1217px) {
    .about-us-content-container {
        padding: 50px;
    }
}
@media (max-width: 1110px) {
    .about-us-content-container {
        padding: 20px;
    }
}
@media (max-width: 1016px) {
    .text {
        top: 19em;
    }
}
@media (max-width: 1010px) {
    .about-us-container.ed {
        display: block;
    }
    .get-app.ed {
        margin-bottom: 20px;
    }
    .about-us-container {
        display: none;
    }

    .about-us-container.ed.ed2 {
        position: relative;
        top: 25em;
    }
    .features-container.ed {
        margin-top: 85em;
    }
}
@media (max-width: 1010px) {
    .features-container.ed {
        margin-top: 95em;
    }
}

@media (max-width: 612px) {
    .about-us-container.ed.ed2 {
        top: 30em;
    }
}
.header-text.ed {
    position: relative;
    top: -50px;
    color: #868e96;
    font-family: inherit;
}
.footer-container.ed {
    background-color: #ECECEC;
    padding-top: 100px;
}